/*
 * COLOURS
 *   Calico     - #dcb687
 *   Mine Shaft - #303030
 *   Cod Gray   - #171717
 */

html {
  font-size: 62.5%;
}

body {
  background-color: #dcb687;
  background-image: url('./background.jpg');
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  min-height: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

main {
  margin: 2rem;
}

#simon {
  position: relative;
  background-color: #303030;
  box-shadow: 0 0 1.5rem #171717;
  width: 45rem;
  height: 45rem;
  border-radius: 50%;
}


/* done up to here */

.btn {
  position: absolute;
  width: 50%;
  height: 50%;
  border: 2.5rem solid #303030;
}

.green {
  background-color: #0AB552;
  border-top-left-radius: 100%;
  border-bottom-width: 1.25rem;
  border-right-width: 1.25rem;
}

.green:hover {
  background-color: #56FF9E;
}

.red {
  left: 50%;
  background-color: #E6281D;
  border-top-right-radius: 100%;
  border-bottom-width: 1.25rem;
  border-left-width: 1.25rem;
}

.red:hover {
  background-color: #FF7469;
}

.yellow {
  top: 50%;
  background-color: #CEC92E;
  border-bottom-left-radius: 100%;
  border-top-width: 1.25rem;
  border-right-width: 1.25rem;
}

.yellow:hover {
  background-color: #FFFF7A;
}

.blue {
  top: 50%;
  left: 50%;
  background-color: #005BC0;
  border-bottom-right-radius: 100%;
  border-top-width: 1.25rem;
  border-left-width: 1.25rem;
}

.blue:hover {
  background-color: #33A7FF;
}

.center {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: #303030;
}

h1 {
  font-family: 'Monoton', cursive;
  color: #FCFCFC;
  font-size: 4rem;
  text-align: center;
  margin-top: 25%;
}

#score {
  font-family: 'VT323', monospace;
  font-size: 4rem;
  color: maroon;
  margin-left: 5%;
  width: 25%;
}

#text {
  font-family: 'Roboto Condensed', sans-serif;
  color: #FCFCFC;
  font-size: 1.5rem;
  text-align: center;
}

@media (max-width: 30.625em) {
  #simon {
    width: 90vw;
    height: 90vw;
  }
}