/*
 *  COLOURS
 *    Beige    - #dcb687
 *    White    - #fcfcfc
 *    Grey     - #303030
 *    Black    - #171717
 *    Green    - #0ab552
 *             - #57ff9f (30% lighter)
 *    Red      - #e6281d
 *             - #ff756a (30% lighter)
 *             - #cd0f04 (10% darker)
 *             - #4d0000 (60% darker)
 *             - #340000 (70% darker)
 *    Yellow   - #cec92e
 *             - #ffff7b (30% lighter)
 *    Blue     - #005bc0
 *             - #4da8ff (30% lighter)
 */


/*
 * General styles.
 */

html {
  font-size: 0.5rem;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #dcb687 url('./background.jpg');
  color: #fcfcfc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2rem;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 30.625em) {
  html {
    font-size: 62.5%;
  }
}


/*
 * Helpers.
 */

.clickable {
  cursor: pointer;
}

.hidden {
  display: none;
}


/*
 * Specific styles.
 */

.container {
  margin: auto;
  padding: 2rem;
}

.simon {
  background-color: #303030;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1.5rem #171717;
          box-shadow: 0 0 1.5rem #171717;
  height: 90vw;
  position: relative;
  width: 90vw;
}

@media (min-width: 30.625em) {
  .simon {
    height: 45rem;
    width: 45rem;
  }
}

.btn {
  border: 2.5rem solid #303030;
  height: 50%;
  position: absolute;
  width: 50%;
}

.green.btn {
  background-color: #0ab552;
  border-top-left-radius: 100%;
  border-bottom-width: 1.25rem;
  border-right-width: 1.25rem;
}

.green.btn.lit {
  background-color: #57ff9f;
}

.red.btn {
  background-color: #e6281d;
  border-top-right-radius: 100%;
  border-bottom-width: 1.25rem;
  border-left-width: 1.25rem;
  left: 50%;
}

.red.btn.lit {
  background-color: #ff756a;
}

.yellow.btn {
  background-color: #cec92e;
  border-bottom-left-radius: 100%;
  border-top-width: 1.25rem;
  border-right-width: 1.25rem;
  top: 50%;
}

.yellow.btn.lit {
  background-color: #ffff7b;
}

.blue.btn {
  background-color: #005bc0;
  border-bottom-right-radius: 100%;
  border-top-width: 1.25rem;
  border-left-width: 1.25rem;
  left: 50%;
  top: 50%;
}

.blue.btn.lit {
  background-color: #4da8ff;
}

.center {
  background-color: #303030;
  border-radius: 50%;
  height: 50%;
  left: 25%;
  position: absolute;
  top: 25%;
  width: 50%;
}

.heading {
  font-family: 'Monoton', cursive;
  font-size: 4rem;
  margin-top: 20%;
  text-align: center;
}

.ctrl {
  float: left;
  height: 30%;
  margin-top: 5%;
  position: relative;
  text-align: center;
  width: 25%;
}

.ctrl-text {
  bottom: 0;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  width: 100%;
}

.ctrl-btn {
  background: none;
  border: 0.2rem solid #fcfcfc;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 0.75rem;
  outline: none;
  padding: 1rem;
}

.ctrl-btn:active {
  -webkit-transform: translateY(0.15rem);
          transform: translateY(0.15rem);
}

.ctrl-light {
  background-color: #340000;
  border: 0.2rem solid #340000;
  border-radius: 50%;
  height: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 1rem;
}

.ctrl-light.lit {
  background-color: #cd0f04;
}

.count-ctrl {
  margin-left: 10%;
}

.screen {
  background-color: #340000;
  border-radius: 0.75rem;
  color: #4d0000;
  padding: 0.4rem;
}

.screen.lit {
  color: #cd0f04;
}

.screen-text {
  font-family: 'VT323', monospace;
  font-size: 3.2rem;
}

.start-ctrl {
  margin-left: 5%;
}

.start-ctrl .ctrl-btn {
  background-color: #e6281d;
}

.strict-ctrl .ctrl-btn {
  background-color: #cec92e;
}

.power-ctrl {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 7%;
  width: 100%;
}

.power-ctrl .ctrl-text {
  position: relative;
  width: initial;
}

.switch {
  display: inline-block;
  height: 2rem;
  margin: 0 1rem;
  position: relative;
  width: 3.2rem;
}

.slider {
  background-color: #171717;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 0.4s;
          transition: 0.4s;
}

.slider::before {
  background-color: #e6281d;
  bottom: 0.4rem;
  content: '';
  height: 1.2rem;
  left: 0.4rem;
  position: absolute;
  -webkit-transition: 0.4s;
          transition: 0.4s;
  width: 1.2rem;
}

.power-btn:checked + .slider::before {
  -webkit-transform: translateX(1.2rem);
          transform: translateX(1.2rem);
}